@import "tailwindcss";
@source "../../../packages/ui/src";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, dracula;
}

html, body, #app, main {
    height: 100%;
}

body {
    font-family: 'Alegreya Variable', serif;
}

.font-mono {
    font-family: 'JetBrains Mono Variable', monospace;
}